-i https://pypi.org/simple/
aiocontextvars==0.2.2 ; python_version < '3.7'
aiogram==2.6.1
aiohttp==3.7.4
async-timeout==3.0.1
attrs==20.3.0
babel==2.9.0
beautifulsoup4==4.8.2
certifi==2020.12.5
chardet==3.0.4
contextvars==2.4 ; python_version < '3.7'
idna-ssl==1.1.0 ; python_version < '3.7'
idna==3.1
immutables==0.15
loguru==0.4.1
lxml==4.5.0
multidict==5.1.0
pytz==2021.1
soupsieve==2.2
typing-extensions==3.7.4.3 ; python_version < '3.8'
yarl==1.6.3
